* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont {
  overflow-y: scroll;
}
.header {
  display: flex;
  padding: 4% 3%;
  justify-content: space-between;
  font-size: 140%;
  border: 0.7px solid #bdc3c7;
  align-items: center;
}
.header i {
  cursor: pointer;
  color: gray;
}

.search {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding: 1.5%;
  /* justify-content: space-evenly; */
}
.search input {
  background-color: #ecf0f1;
  border: none;
  font-size: 90%;
  /* margin-right: -15%; */
}
.search input::after {
  border: none;
}
.search .fa-magnifying-glass {
  color: gray;
  font-size: 90%;
}

/* hamburger start */

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 10% 0 0;
}
.hamMenu {
  background-color: white;
  width: 80%;
  height: 100%;
  padding: 5%;
}
.hamMenu button {
  background-color: blue;
  color: white;
  padding: 2%;
  border-radius: 1em;
  margin-bottom: 10%;
  cursor: pointer;
}

.angle {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.all,
.loginPage {
  display: flex;
  /* margin-bottom: 10%; */
  padding: 5% 0;
  color: gray;
}
.all p,
.loginPage p {
  margin-left: 5%;
}
.all:hover,
.loginPage:hover {
  background-color: #ecf0f1;
  cursor: pointer;
  padding: 3%;
}

/* hamburger end */

/* users start*/

.users {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 20%;
}
.details {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.userPic {
  font-size: 400%;
}
.users * {
  margin-bottom: 1.8%;
}
.sign {
  border-top: 1px solid gray;
  display: flex;
  padding: 5% 0 0;
  color: black;
}
.sign * {
  margin-right: 5%;
}
.sign:hover {
  background-color: #ececec;
  cursor: pointer;
}
.settings {
  display: flex;
}
.settings * {
  margin-right: 5%;
}
.onlineStatus {
  cursor: pointer;
  color: green;
  border: 1px solid green;
  border-radius: 2em;
  padding: 1% 4%;
  font-size: 1em;
  font-weight: bold;
}
.avatar {
  cursor: pointer;
  border-radius: 2em;
  border: none;
  padding: 2% 15%;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(#f83600, #d38312);
}
.addPost {
  padding: 1% 5%;
}
.addHeader {
  padding: 2%;
  display: flex;
}
.addHeader * {
  margin-right: 5%;
}
.addHeader button {
  border: none;
  font-size: 1.5em;
  background-color: white;
  cursor: pointer;
}
.addPost .search {
  margin: 0 5%;
  font-size: 1.5em;
  margin-bottom: 5%;
}
.addPost .profile {
  font-size: 1.5em;
  margin-bottom: 5%;
}
.avatarPost {
  display: flex;
  cursor: pointer;
  border-radius: 2em;
  border: none;
  padding: 2% 15%;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(#f83600, #d38312);
}
.logOut {
  background-color: darkblue;
  color: white;
  padding: 2% 5%;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 2em;
  margin-left: 5%;
  cursor: pointer;
}

.profile,
.coins,
.premium,
.saved,
.logOut {
  display: flex;
}
.profile *,
.coins *,
.premium *,
.saved * {
  margin-right: 5%;
  cursor: pointer;
}

.goBack {
  display: flex;
}
.goBack * {
  margin-right: 5%;
  color: black;
  cursor: pointer;
}
/* users posts starts*/

.icon {
  color: gray;
}
.userNameHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .userNameHeading p{
  margin-left: -10%;
} */

.head {
  display: flex;
}
.head * {
  width: 100%;
  margin-right: 15%;
}
.usersList {
  padding: 5%;
  text-align: left;
  background-color: white;
  margin-top: 2%;
}
.usersList * {
  margin-bottom: 1%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersList img {
  width: 85vw;
  /* text-align: center; */
  border: none;
}
.iconPlus {
  color: blue;
  font-size: 300%;
  cursor: pointer;
}
.follow {
  padding: 5%;
}
.follow * {
  margin-bottom: 2%;
}
.follow img {
  width: 70%;
}
.post {
  overflow-y: scroll;
  height: 80vh;
  background-color: #ecf0f1;
}
.mainDesktop {
  background-color: #ecf0f1;
}
.post::-webkit-scrollbar {
  display: none;
}
.posts {
  display: flex;
  flex-direction: column;
}
.comments {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 130%;
}
.comments *:hover {
  cursor: pointer;
}
.comments div {
  display: flex;
}
.comments div * {
  margin-right: 5%;
}
.allComments {
  color: gray;
  cursor: pointer;
}

/* users posts end */
/* add posts starts */
.addPosts,
.chat {
  background-color: #ececec;
  height: 90vh;
}
.add {
  background-color: #ececec;
  padding: 5%;
}
.add * {
  margin-bottom: 5%;
}
.goBackToHome {
  border: none;
  font-size: 130%;
  cursor: pointer;
  background-color: White;
}
.add p {
  font-size: 150%;
  margin: 0 20%;
}
.postAdding {
  display: flex;
  padding: 2%;
  background-color: #ecf0f1;
  font-size: 1.5em;
  margin-bottom: 5%;
  align-items: center;
  color: black;
}
.postAdding * {
  margin-right: 5%;
}
.postAdding:hover {
  cursor: pointer;
  padding: 3%;
}
.postAdd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15% 20% 5%;
}
.userPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:whitesmoke;
  padding: 5%;
}
.userPosts * {
  margin-bottom: 3%;
}
.userPosts button {
  padding: 20% 55%;
  /* border: none; */
  border-radius: 2em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.inputPost input {
  color: #d38312;
  padding: 1% 3%;
  font-size: 1.5em;
  cursor: pointer;
}
.caption {
  padding: 1% 5%;
  border: #bdc3c7;
  font-size: 1.5em;
  border-radius: 2em;
}

.desktopPost {
  font-size: 2em;
  color: gray;
}

.addDesktopPost {
  display: flex;
}
.addDesktopPost * {
  margin-right: 1%;
}

.addDesktopPost:hover {
  background-color: #bdc3c7;
  padding: 5%;
}

.voteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 130%;
  background-color: white;
  padding: 5%;
}
.voteHeader .fa-bars {
  color: gray;
}
.voteHeader h2 {
  margin-left: -10%;
  margin-right: 5%;
}
/* .fa-user{
  color: black;
} */

.voteImage {
  width: 80vw;
}

.headerMessages h4:hover {
  cursor: pointer;
  border-bottom: 2px solid blue;
}

/* add posts end */

/* notifications part start */

.notify .login .logIn {
  background-color: white;
  color: black;
  border: 2px solid blue;
}
.headerMessages {
  display: flex;
  justify-content: center;
  padding: 5% 5% 0;
  box-shadow: 1px 2px lightgray;
}
.headerMessages * {
  padding: 0 5% 2%;
}
.tooMuchInfo {
  padding: 5%;
  text-align: left;
  font-size: 130%;
}
.notify .login {
  margin-left: -30%;
}
.notificationsBody {
  height: 70vh;
  background: url("https://preview.redd.it/dzhs0kh915671.png?width=487&format=png&auto=webp&s=c8fdca8e7ad978de074f3069e4ea6825dceaaf23");
  background-repeat: no-repeat;
  background-size: cover;
}

/* notifications part end */

/* users end */
/* section start */

.section {
  display: flex;
  justify-content: center;
  padding: 2% 5%;
  box-shadow: 1px 2px #bdc3c7;
}
.section h2 {
  color: gray;
  margin-right: 1em;
}
.section h2:hover {
  cursor: pointer;
  color: black;
  border-bottom: 5px solid blue;
}

.logo {
  width: 90vw;
}
.welcomeIcon {
  width: 300px;
}
.welcome {
  padding: 0% 5% 5%;
}
.welcome p {
  padding: 10%;
}
.login {
  padding: 5% 0;
  display: flex;
  justify-content: space-evenly;
}
.logIn,
.signUp {
  width: 150%;
  cursor: pointer;
  background-color: blue;
  padding: 15%;
  font-size: 100%;
  border-radius: 1.5em;
  color: white;
  border: none;
  font-family: Helvetica;
}
.chatting {
  padding: 3%;
  font-size: 1em;
  border-radius: 2em;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.logIn {
  padding: 20%;
}
.home .login .signUp {
  margin-left: -80%;
}
/* signup and login  start */
.signUpPage,
.logInPage {
  padding: 8%;
}
.signUpPage *,
.logInPage * {
  margin-bottom: 5%;
}
.signHeader,
.logInHeader {
  display: flex;
  justify-content: space-between;
  font-size: 180%;
  color: gray;
  align-items: center;
}
.signHeader *,
.logInHeader * {
  color: gray;
}

.redditLogo {
  width: 12%;
}
.signUpForm,
.logInForm {
  display: flex;
  flex-direction: column;
}
.input {
  border: none;
  padding: 3%;
  font-size: 150%;
  border-bottom: 1px solid gray;
}
.signUpAccount,
.logInAccount {
  padding: 5%;
  background-color: #e74c3c;
  font-size: 150%;
  color: white;
  border-radius: 2em;
  border: none;
  width: 100%;
}

.forgot {
  text-align: left;
}
.forgot p {
  color: red;
}

/* signup and login end */

/* section end */

/* footer start */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  border-top: 1px solid #ecf0f1;
  background-color: white;
}
.footer i {
  font-size: 120%;
  color: gray;
}
.footer i:hover {
  color: black;
  cursor: pointer;
}
.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goToFeed {
  color: white;
  background-color: #d38312;
  padding: 1% 5%;
  border: none;
  border-radius: 2em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

/* footer end */

.desktopHeader {
  display: none;
}
.desktopSection {
  display: none;
}
.angle:hover {
  padding: 3%;
  background-color: #ececec;
}
.cs {
  background-color: #ecf0f1;
  height: 100%;
  overflow-y: scroll;
}
.commentsSection {
  /* margin: 0 30%; */
  /* width: 300px; */
  padding: 5%;
  background-color: white;
}
.commentsSection * {
  margin-bottom: 3%;
}
.commentsSection img {
  width: 80%;
}
.addComments {
  padding: 1% 5%;
  /* border: none; */
  border-radius: 2em;
  font-size: 1.3em;
}
.comment {
  /* background-color: #1abc9c; */
  padding: 2%;
  /* color: white; */
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  /* border-radius: 2em; */
  /* margin-bottom: ; */
}
.comment p{
  display: flex;
}
.ac {
  padding: 1% 5%;
  border: none;
  border-radius: 2em;
  font-size: 1.3em;
  cursor: pointer;
}
.reply{
  display: flex;
}
.reply *{
  margin-right: 3%;
}
.reply div{
  display: flex;
}
.reply div *{
  margin-right: 10px;
}
/* .iconPlus{
  width: 5em;
} */

/* responsive for tab */

@media all and (min-width: 600px) {
  .add img {
    width: 400px;
  }
  .follow img {
    width: 400px;
  }
  .home {
    margin: 0 25%;
  }
  .home .login .signUp {
    margin-right: -70%;
  }
  .section * {
    margin-left: 3%;
  }
  .cs {
    background-color: #ecf0f1;
    height: 100%;
    overflow-y: scroll;
    /* padding:0 20%; */
  }
  .commentsSection {
    margin: 0 15%;
    /* padding: 0 50px; */

    /* width: 400px; */
    padding: 10px;
    background-color: white;
  }
  .commentsSection * {
    margin-bottom: 3%;
  }
  /* .commentsSection img{
    /* width: 300px; */
  /* }  */
  .addComments {
    padding: 1% 5%;
    /* border: none; */
    border-radius: 2em;
    font-size: 1.3em;
  }
 .comment {
  /* background-color: #1abc9c; */
  padding: 2%;
  /* color: white; */
  border: 1px solid #ecf0f1;
  /* border-radius: 2em; */
  /* margin-bottom: 0; */
}
  .ac {
    padding: 1% 5%;
    border: none;
    border-radius: 2em;
    font-size: 1.3em;
  }
  .usersList{
    margin:0 10%;
    margin-bottom: 5%;
  }
  .usersList img{
    width: 90%;
  }
}

/* responsive for desktop */

@media all and (min-width: 900px) {
  .header {
    display: none;
  }
  .desktopHeader {
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktopLogo {
    width: 120px;
    cursor: pointer;
  }
  .desktopHeader .login .logIn {
    margin-left: -150%;
    padding: 12%;
    color: blue;
    background-color: white;
    border: 1px solid blue;
  }
  .desktopHeader .search {
    width: 40%;
    font-size: 1.3em;
    padding: 1%;
  }
  .desktopHeader .fa-user {
    font-size: 170%;
    color: black;
  }
  .section {
    display: none;
  }
  .logo {
    display: none;
  }
  .footer {
    display: none;
  }
  .desktopSection {
    display: flex;
    padding: 0 5%;
    margin: 0 10%;
    justify-content: center;
  }
  .usersList img {
    width: 400px;
  }
  .usersList {
    width: 500px;
    margin-left:0;
  }
  .cs {
    background-color: #ecf0f1;
    height: 100%;
    overflow-y: scroll;
  }
  .commentsSection {
    margin: 0 30%;
    /* width: 500px; */
    padding: 10px;
    background-color: white;
  }
  .commentsSection * {
    margin-bottom: 3%;
  }
  /* .commentsSection img{
    width: 450px;
  } */
  .addComments {
    padding: 1% 5%;
    /* border: none; */
    border-radius: 2em;
    font-size: 1.3em;
  }
  .comment {
  /* background-color: #1abc9c; */
  padding: 2%;
  /* color: white; */
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  /* border-radius: 2em; */
  /* margin-bottom: 0; */
}
  .ac {
    padding: 1% 5%;
    border: none;
    border-radius: 2em;
    font-size: 1.3em;
  }
  /* .comments{
    justify-content: flex-start;
  }
  .userNameHeading{
    justify-content: flex-start;
  } */
  .post::-webkit-scrollbar {
    display: none;
  }
  /* .post{
     display: none;
    padding:0 5%;
    margin: 0 20%;
    justify-content: center;

  } */
  .users {
    padding: 5% 10%;
  }
  .details {
    overflow-y: scroll;
  }
  .userName {
    width: 100%;
  }
  .userListsData {
    display: none;
  }
  .usersList {
    margin-top: 0;
    margin-bottom: 2%;
  }
  .signUpPage,
  .logInPage {
    margin: 0 20%;
    padding: 0 10%;
  }
  .home {
    margin: 0 20%;
  }
  .follow .login .signUp {
    margin-left: -120%;
  }
  .follow .login .logIn {
    margin-right: -120%;
  }
}
